<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <div id="map_canvas">
  </div>
  <div id="searchDiv">
    <ion-searchbar [(ngModel)]="autocomplete.input" color="light" padding style="padding-bottom: 0px;" (ionChange)="updateSearchResults()" placeholder="حدد وجهتك"></ion-searchbar>
    <ion-list [hidden]="autocompleteItems.length == 0" padding style="padding-top: 0px;">
      <ion-item *ngFor="let item of autocompleteItems" color="light" tappable (click)="selectSearchResult(item)">
        {{ item.description }}
      </ion-item>
    </ion-list>
  </div>

  <ion-button id="mylocation" padding text-center color="light" size="large" ion-button (click)="mylocation()">
      <ion-img src="assets/imgs/mylocation.png"></ion-img>
  </ion-button>

  <div id="footer">
    <ion-button id="confirmLocation" color="success" padding full text-center size="large" ion-button (click)="confirmLocation()">تأكيد الوجهة</ion-button>
  </div>
</ion-content>
